<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tx.catcat">

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.铁锈问卷猫">
        <activity
            android:name=".Activity.Debug"
            android:exported="false" />
        <activity
            android:name=".Activity.DoingQuestionnaire"
            android:exported="true"
            tools:ignore="AppLinkUrlError">
            <intent-filter tools:ignore="AppLinkUrlError">

                <!-- scheme://host:port/path or pathPrefix or pathPattern -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ChooseQuestionnaire"
            android:exported="false"
            android:label="@string/title_activity_choose_questionnaire"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>